<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
     <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <% if user_signed_in? %>
    Welcome <%=current_user.email%>|<%=link_to current_user.display_name, profile_path%>
    |  <%= link_to('Logout', destroy_user_session_path) %>        

    <% else %>
    Please
      <%= link_to("Login", new_user_session_path ) %>
      or
      <%= link_to("Sign up", new_user_registration_path ) %>

  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
